@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        height: 735px;
        &__title {
            width: 342px;
            height: 77px;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }
        &__text {
            width: 343px;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            padding-bottom: 32px;
            &-link {
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
            }
        }
        &__buttom {
            margin-left: 54px;
            margin-right: 54px;
        }
    }
    .main {
        height: 1221px;
        &__img_box {
            flex-wrap: wrap;
        }
        &__img_first {
            width: 343px;
            height: 300px;
        }
        &__img_second {
            width: 343px;
            height: 300px;
        }
        &__img_third {
            width: 343px;
            height: 300px;
        }
    }
    .content {
        height: 653.61px;
        flex-wrap: wrap;
        &__box {
            flex-wrap: wrap;
        }
        &__title {
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }
        &__text {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
        }
        &__img_im {
            width: 344px;
            height: 236px;
        }
    }
    .bottom {
        height: 653.61px;
        flex-wrap: wrap;
        &__im_im {
            width: 344px;
            height: 236px;
        }
    &__box {
        flex-wrap: wrap;
        &_header {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-weight: 700;
        }
        &_text {
            color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
        }
    }
    }

}
