* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background-image: url(img.hw1/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  width: 778px;
  padding-bottom: 32px;
}
.header__text {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  padding-bottom: 44px;
}
.header__text-link {
  color: white;
  font-weight: bold;
}
.header__button {
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  background: #9c0332;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: 1s;
}
.header__button:hover {
  background: #EB443F;
}

.main {
  height: 556px;
  background-image: url(img.hw1/fon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main__img_box {
  display: flex;
  gap: 32px;
  padding-top: 128px;
}
.main__img_first {
  width: 379px;
  height: 300px;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(img.hw1/img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  transition: 1s;
}
.main__img_first:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.main__img_second {
  width: 379px;
  height: 300px;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(img.hw1/img2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  transition: 1s;
}
.main__img_second:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.main__img_third {
  width: 379px;
  height: 300px;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  padding-left: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(img.hw1/img3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  transition: 1s;
}
.main__img_third:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
}

.content {
  display: flex;
  height: 800px;
  background-image: url(img.hw1/fon3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content__box {
  margin-top: 282px;
  width: 584px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-left: 120px;
}
.content__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.content__img {
  width: 485px;
  height: 333px;
  flex-shrink: 0;
  margin-right: 116px;
  margin-top: 233px;
  margin-left: 135px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
  }
  .header__title {
    width: 342px;
    height: 77px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 32px;
  }
  .header__text-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .header__button {
    margin-left: 54px;
    margin-right: 54px;
  }
  .main {
    height: 1221px;
  }
  .main__img_box {
    flex-wrap: wrap;
  }
  .main__img_first {
    width: 343px;
    height: 300px;
  }
  .main__img_second {
    width: 343px;
    height: 300px;
  }
  .main__img_third {
    width: 343px;
    height: 300px;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 653px;
  }
  .content__box {
    margin-top: 51px;
    width: 343px;
    margin-left: 0;
  }
  .content__title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .content__text {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .content__img {
    width: 344px;
    height: 236px;
    flex-shrink: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 64px;
  }
}/*# sourceMappingURL=style.css.map */